doctype html
html(lang="ua")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="bonzocss.min.css")
        title Bonzo | Tiny CSS Framework
    body 
        main.fr100
            .fr20.jlc Width 20%
            .fr50.jcc Width 50%
            .fr30.jrc Width 30%