// Fonts
@import url('https://fonts.googleapis.com/css?family=Inter:400,600&display=swap')

$inter: 'Inter', sans-serif

// Colors
$blue-color: #00b3e3
$black-color: #222222

@mixin box-shadow($value)
    -webkit-box-shadow: $value
    -moz-box-shadow: $value
    box-shadow: $value