doctype html
include ../components/head.pug
    title About Me | Tiny CSS Helper
    body
        include ../components/nav.pug
        main.m-1
            include ../parts/aboutpage.pug
        include ../components/footer.pug