doctype html
include ../components/head.pug
    title HowTo | Tiny CSS Helper
    body.inter.w-100
        include ../components/nav.pug
        main.m-1
            include ../parts/guidepage.pug
        include ../components/footer.pug