doctype html
include ../components/head.pug
    title HowTo | Tiny CSS Helper
    body
        include ../components/nav.pug
        main.m-1
            include ../parts/guidepage.pug
        include ../components/footer.pug