doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/bonzocss.min.css")
        title HowTo | Tiny CSS Helper

    body.inter.w-100
        include ../components/nav.pug
        main.m-1
            include ../parts/guidepage.pug
        include ../components/footer.pug