doctype html
include ../components/head.pug
    title Bonzo | Tiny CSS Helper
    body
        include ../components/nav.pug
        main.m-1
            include ../parts/homepage.pug
        include ../components/footer.pug