@use '../_colors'

.btnmed
    padding: .5em 2.5em
    border: .0625em solid colors.$secondarycolor
    color: colors.$secondarycolor
    background-color: colors.$primarycolor
    text-decoration: none
    text-transform: uppercase
    border-radius: .25em
    cursor: pointer
    transition: .5s
    &:hover
        color: colors.$primarycolor
        background-color: colors.$secondarycolor
        border: .0625em solid colors.$primarycolor
        transition: color .3s ease-out, background-color .3s ease-out, border .3s ease-out
.btnlrg
    padding: 1em 4em
    border: .125em solid colors.$secondarycolor
    color: colors.$secondarycolor
    background-color: colors.$primarycolor
    text-decoration: none
    text-transform: uppercase
    border-radius: .5em
    cursor: pointer
    transition: .5s
    &:hover
        color: colors.$primarycolor
        background-color: colors.$secondarycolor
        border: .125em solid colors.$primarycolor
        transition: color .3s ease-out, background-color .3s ease-out, border .3s ease-out