footer
    .flex.f-row.w-100
        .flex.f-row.f-jc-center.w-33
            p Awesome
        .flex.f-row.f-jc-center.w-33
            p Footer
        .flex.f-row.f-jc-center.w-33
            p Widgets