header.flex.f-row.f-ai-center.w-100.my-2
    .logo.flex.f-row.w-50
        a.font-nodec(href="index")
            span.font-xxl.font-bold BONZO CSS
    nav.flex.f-row.w-50
        ul.flex.f-row.w-100.g-5.f-jc-end
            li.list-none.mr-3: a.font-nodec(href="index") Home
            li.list-none.mr-3: a.font-nodec(href="guide") Get Started
            li.list-none: a.font-nodec(href="about") About Me
hr.my-1