header.fr-100.jcc.mt-2.mb-2
    .logo.fr-50.jlc
        a(href="/")
            span.xxl BONZO CSS
    nav.fr-50
        ul.fr-100.g-5.jrc
            li.ltno.mr-3: a(href="/") Home
            li.ltno.mr-3: a(href="/guide.html") Get Started
            li.ltno: a(href="/about.html") About Me
hr.m-1