@import "../core/vars"

.bz_button_big
    font-size: 20px
    line-height: 57px
    font-weight: 600
    font-family: $inter
    color: white
    text-decoration: none
    text-transform: uppercase
    letter-spacing: 0.2em
    padding: 19px 40px
    background: linear-gradient(106.75deg, #2272FF 0%, #0D03C3 100%)
    border-radius: 40px