$percents: 1, 2, 3, 5, 10, 15, 20, 25, 30, 40, 50, 60, 70, 80, 90
$percsym: '%'

@each $percent in $percents
    .pt-#{$percent}
        padding-top: #{$percent}#{$percsym}
@each $percent in $percents
    .pr-#{$percent}
        padding-right: #{$percent}#{$percsym}
@each $percent in $percents
    .pb-#{$percent}
        padding-bottom: #{$percent}#{$percsym}
@each $percent in $percents
    .pl-#{$percent}
        padding-left: #{$percent}#{$percsym}