$percents: 0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 33, 40, 50, 60, 66, 70, 75, 80, 90
$percsym: '%'

@each $percent in $percents
    .p-#{$percent}
        padding: #{$percent}#{$percsym}
@each $percent in $percents
    .px-#{$percent}
        padding-left: #{$percent}#{$percsym}
        padding-right: #{$percent}#{$percsym}
@each $percent in $percents
    .py-#{$percent}
        padding-top: #{$percent}#{$percsym}
        padding-bottom: #{$percent}#{$percsym}
@each $percent in $percents
    .pt-#{$percent}
        padding-top: #{$percent}#{$percsym}
@each $percent in $percents
    .pr-#{$percent}
        padding-right: #{$percent}#{$percsym}
@each $percent in $percents
    .pb-#{$percent}
        padding-bottom: #{$percent}#{$percsym}
@each $percent in $percents
    .pl-#{$percent}
        padding-left: #{$percent}#{$percsym}