@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Raleway:wght@300;400;700&display=swap)

$inter: 'Inter', sans-serif
$raleway: 'Raleway', sans-serif

body
    font-family: $inter
h1
    font-family: $raleway
    font-size: 2em
    line-height: 2em
    text-transform: uppercase
    font-weight: bold
.bold
    font-weight: bold
.xl
    font-size: 2em
.xxl
    font-size: 3em

.nodec
    text-decoration: none