$percents: 10, 20, 25, 30, 33, 40, 50, 60, 66, 70, 75, 80, 90, 100
$percsym: '%'

.fc
    @include fc
@each $percent in $percents
    .fc-#{$percent}
        @include fc
        width: #{$percent}#{$percsym}
.fr
    @include fr
@each $percent in $percents
    .fr-#{$percent}
        @include fr
        width: #{$percent}#{$percsym}